<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.naukri.TestScripts.NaukriLoginTest"/>
      <class name="com.naukri.TestScripts.TestExtent"/>
      <class name="com.naukri.TestScripts.UpdateInfoTest"/>
      <class name="com.naukri.TestScripts.FirstTest"/>
      <class name="com.naukri.TestScripts.tester"/>
      <class name="com.naukri.TestScripts.App_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
